@using PizzaShopApplication.Models.Data;
@model List<Pizza>
@{
    ViewData["Title"] = "Доставка пиццы в Самаре бесплатно. Пиццерия КАРАСИК";
}

<div>
    <h1 align="left">ПИЦЦА</h1>
    <h3 align="left">Горячая и вкусная пицца в ваш дом!</h3>
    <h5 align="left">Сделано с любовью!</h5>
    <table>
        @foreach (Pizza item in Model)
        {
            <tr>
                <td>
                    <p>Title: @item.Name</p>
                    <p>Price: @item.Price</p>
                </td>
                <td>
                    <form method="post" action="/Cart/AddItemToCart">
                        <input hidden type="text" name="itemId" value="@item.Id"/>
                        <input hidden type="text" name="itemName" value="@item.Name"/>
                        <input type="submit" class="btn btn-default" value="Add to the cart"/>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>