@{
    ViewData["Title"] = "Товар добавлен в корзину";
}
<h1 align="center">Товар под названием "@ViewBag.Name" был добавлен в корзину!</h1>
<a align="center" class="nav-link text-dark" asp-controller="Home" asp-action="Index">Вернуться к покупкам</a>