@using PizzaShopApplication.Models.Secondary.Entities;
@model List<UserCartInformer>
@{
    ViewData["Title"] = "Корзина";
}

<table>
    <tr>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена(за шт.)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PizzaName</td>
            <td>@item.PizzaCount</td>
            <td>@item.PizzaPrice</td>
        </tr>
    }
</table>
<h3>Итоговая сумма заказа:@ViewBag.TotalSum</h3>