@using PizzaShopApplication.Models.Data.Entities.Review;
@{ 
    ViewData["Title"] = "Отзывы";
}
@model IEnumerable<Review> 
<h1>ОТЗЫВЫ</h1>
<table>
    <tr>
        <td>Имя</td>
        <td>Комментарий</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name<br />@item.CommentDateTime</td>
            <td>@item.Comment</td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <button asp-action="CommentReview" asp-controller="Review" value="Комментировать"></button>
                </td>
            }
        </tr>
    }
</table>
@await Html.PartialAsync("_CommentReview") 