@using PizzaShopApplication.Models.Data.Entities.Review;
@{ 
    ViewData["Title"] = "Отзывы";
}
@model IEnumerable<Review> 
<h1>ОТЗЫВЫ</h1>
<form method="get" action="/Review/CommentReview">
    <input type="submit" value="Добавить свой отзыв" class="btn btn-outline-primary" />
</form>
<table>
    <tr>
        <td>Имя</td>
        <td>Комментарий</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name<br />@item.CommentDateTime</td>
            <td>@item.Comment</td>
        </tr>
    }
</table>