@using PizzaShopApplication.Models.Data.Entities;
@{
    ViewData["Title"] = "Изменение данных аккаунта";
}
@model User
<h1>Редактирование аккаунта</h1>
<div>
    <form asp-action="ChangeName" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data">
        <div>
            <label asp-for="Name">Ваше имя</label>
            <input type="hidden" asp-for="Id" />
            <input type="text" asp-for="Name" />
            <input formmethod="post" type="submit" value="Изменить имя" />
        </div>
    </form>
    <form asp-action="ChangeEmail" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data">
        <label asp-for="Email">Ваша почта</label>
        <input type="hidden" asp-for="Id" />
        <input type="text" asp-for="Email" />
        <input formmethod="post" type="submit" value="Изменить имя" />
    </form>
    <form asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input asp-action="ChangePassword" asp-controller="Account" formmethod="get" type="submit" value="Изменить пароль" class="btn btn-outline-dark" />
    </form>
</div>
