@{
    ViewData["Title"] = "Изменение пароля";
}
@using PizzaShopApplication.Models.Data.Entities;
@model User
<form asp-action="EditPizza" asp-controller="Product" asp-anti-forgery="true" enctype="multipart/form-data">
    <div>
        <input type="password" name="oldPassword" value="Введите старый пароль: " />
        <input type="password" name="newPassword" value="Введите новый пароль: " />
        <input type="hidden" asp-for="Id" />
        <input asp-action="ChangePassword" asp-controller="Account" formmethod="post" type="submit" value="Изменить пароль" class="btn btn-outline-dark" />
    </div>
</form>
        
