@using PizzaShopApplication.Models.Data; 
@model IEnumerable<Pizza>
@{ 
    ViewData["Title"] = "Редактирование товаров";
}
<div>
    <h1 align="left">Изменение информации о товарах</h1>
    <table>
        <tr>
            <th>Наименование товара</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Pizza item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <form method="get" action="/Product/EditProduct">
                        <input hidden type="text" name="itemId" value="@item.Id" />
                        <input type="submit" class="btn btn-default" value="Редактировать" />
                    </form>
                </td>
                <td>
                    <form method="post" action="/Product/DeleteFromDB">
                        <input hidden type="text" name="itemId" value="@item.Id" />
                        <input type="submit" class="btn btn-default" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <form method="get" action="/Product/AddProductToDB">
        <input type="submit" class="btn btn-primary" value="Добавить" />
    </form>
</div>